<!DOCTYPE html>
<html>
  <head>
    <title>Facelook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = {
          'id': <%= current_user.id %>,
          'email' : "<%= current_user.email %>"
        }
      </script>
  <% end %>

  <script type="text/javascript">
    window.logout = "<%= image_url('icons8-logout-30.png') %>";
    window.downArrow = "<%= image_url('icons8-down-24.png') %>";
    window.xImg = "<%= image_url('facebookx.png') %>";
    window.githubImage = "<%= image_url('github.svg') %>";
    window.linkedInImage = "<%= image_url('linkedin.svg') %>";
    window.facebookLogo = "<%= image_url('facebooklogo.svg') %>";
    window.homeImage = "<%= image_url('home.svg') %>";
    window.dropdown = "<%= image_url('dropdown.png') %>";
    window.photoButton = "<%= image_url('photo.png') %>";
    window.likeButton = "<%= image_url('like-button.png') %>";
    window.commentButton = "<%= image_url('comment-button.png') %>";
  </script>

  <body>
    <%= yield %>

  <meta property="og:title" content="Facelook" />
     <meta property='og:image' content="<%= image_url('Facelook.PNG') %>"/>
     <meta property="og:description"
       content="A Facebook clone built using a Rails backend and React frontend"
     />
     <meta property="og:url"
       content="https://facelook-ayueh.herokuapp.com/#/"
  />
  </body>
</html>
